In [1]:
#Import Packages

# Data analysis
import pandas as pd
import numpy as np
import requests

# Data cleaning
import re

# Tokenizing words
import spacy
from spacy.tokenizer import Tokenizer
from collections import Counter

# TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Encoding
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
from sqlalchemy import create_engine
import numpy as np
from sklearn import preprocessing  # for category encoder
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from typing import List, Tuple

## Wrangle

In [3]:
spot = pd.read_csv('https://raw.githubusercontent.com/rowaishanna/sp/master/Spotifyfeatures_reducedsize.csv')
print(spot.shape)
spot.head()

(165331, 18)

  genre     artist_name  ... time_signature valence
0   R&B   Mary J. Blige  ...          4-Apr  0.6930
1   R&B         Rihanna  ...          4-Mar  0.3230
2   R&B       Yung Bleu  ...          4-Apr  0.0862
3   R&B        Surfaces  ...          4-Apr  0.7680
4   R&B  Olivia O'Brien  ...          4-Apr  0.4660

[5 rows x 18 columns]

In [4]:
# Sample a fraction of the data set
spot = spot.sample(frac=.2, axis = 0)

# Label encode genre
le= LabelEncoder()

cols = ['genre', 'time_signature', 'mode', 'key']
for col in cols:
  spot[col] = le.fit_transform(spot[col])

# Copy dataframe
spot2=spot.copy()

In [5]:
# Combine text columns for tokenization
col_combine = ['artist_name', 'track_name']

# Lowercase and regex
for each in col_combine:
  spot2[each]= spot2[each].apply(lambda x:x.lower())
  spot2[each]= spot2[each].apply(lambda x: re.sub('[^a-zA-Z 0-9]', ' ', x))

# Combine two columns with text
spot2['combined_text'] = spot2['combined_text'] = spot2['artist_name'] + spot2['track_name'] 

# Remove repetitive columns
spot2= spot2.drop(['artist_name', 'track_name', 'track_id'], axis = 1)

# Take a subset with numerical columns
spot2_sub = spot2.drop(['combined_text'], axis = 1)

In [6]:
spot2.head()

        genre  ...                                   combined_text
78968      12  ...              walerunning back  feat  lil wayne
136422      4  ...                             paul mooneyoj oj oj
143340     11  ...                               st germainmary l
85001      14  ...  flatbush zombiesthe glory  feat  denzel curry
159367     18  ...     aretha franklinfreeway of love   single mix

[5 rows x 16 columns]

In [7]:
# Scale numerical columns

scaler = StandardScaler()
scaler.fit(spot2_sub)
scaled_df = pd.DataFrame(scaler.transform(spot2_sub))
print(scaled_df.shape)
scaled_df.head()

(33066, 15)

         0         1         2   ...        12        13        14
0  0.480920  0.992092 -0.738624  ...  0.305189 -0.345226 -1.555201
1 -1.068331 -1.938545  1.269878  ... -1.145710  2.585518  0.353411
2  0.287263 -0.180163 -0.458162  ... -0.498244 -0.345226  0.434976
3  0.868232  0.536215 -0.213483  ... -1.209881 -0.345226 -0.462235
4  1.642857  0.210589  0.018961  ...  0.248706 -0.345226  0.761234

[5 rows x 15 columns]

### TFIDF

In [9]:
# Set up TFIDF
# Instantiate vectorizer object

def tokenize(document):
    
    doc = nlp(document)
    
    return [token.lemma_.strip() for token in doc if (token.is_stop != True) and (token.is_punct != True)]

tfidf = TfidfVectorizer(
    stop_words = 'english',
    # tokenizer = tokenize,
    ngram_range = (1,1),
    min_df = 1, 
    max_df = 0.9,
    max_features = 1000)

In [12]:
# Create a vocabulary and tf-idf score per document
text = spot2['combined_text']
dtm = tfidf.fit_transform(text)

In [13]:
# Get feature names to use as dataframe column headers
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

# View Feature Matrix as DataFrame
print(dtm.shape)
dtm.head()

(33066, 1000)

    10   11   12  125   13   14   15  ...  yung  zac  zeds  zero  ziggy  zion   zz
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0  0.0   0.0   0.0    0.0   0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0  0.0   0.0   0.0    0.0   0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0  0.0   0.0   0.0    0.0   0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0  0.0   0.0   0.0    0.0   0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...   0.0  0.0   0.0   0.0    0.0   0.0  0.0

[5 rows x 1000 columns]

In [11]:
combined_df=pd.concat([scaled_df, dtm], axis = 1)
combined_df.shape

(33066, 1015)

# Similarity Recommender
## A.  Nearest Neighbors

In [12]:
nn = NearestNeighbors(n_neighbors=6)

In [13]:
nn.fit(combined_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                 radius=1.0)

In [14]:
# looking for similar song to 1st entry in DF
a = nn.kneighbors([combined_df.iloc[10].values])

In [15]:
# Distances of the first 5 from inquired song
a[0]

array([[0.        , 1.32411756, 1.58191366, 1.61112974, 1.63151354,
        1.669309  ]])

In [16]:
# Song identifiers
a[1]

array([[   10,  3338, 32269, 28760, 20422, 25368]])

In [17]:
# First Inquiry

print(spot['artist_name'].iloc[0], spot['track_name'].iloc[0])  # inquiry

print(spot['artist_name'].iloc[871], spot['track_name'].iloc[871])  # similar 1
print(spot['artist_name'].iloc[6184], spot['track_name'].iloc[6184])
print(spot['artist_name'].iloc[1619], spot['track_name'].iloc[1619])
print(spot['artist_name'].iloc[5323], spot['track_name'].iloc[5323])
print(spot['artist_name'].iloc[2538], spot['track_name'].iloc[2538])

De La Ghetto La Formula (feat. Chris Jeday)
Valentino Khan Lick It
JJ Grey & Mofro A Woman
Bruno Mars Talking to the Moon
Dominic Miller Étude
Comedian Bob Marley Select Serviceman

In [25]:
# Second Inquiry

print(spot['artist_name'].iloc[10], spot['track_name'].iloc[10])  # inquiry

print(spot['artist_name'].iloc[798], spot['track_name'].iloc[798])  # similar 1
print(spot['artist_name'].iloc[5196], spot['track_name'].iloc[5196])
print(spot['artist_name'].iloc[502], spot['track_name'].iloc[502])
print(spot['artist_name'].iloc[3980], spot['track_name'].iloc[3980])
print(spot['artist_name'].iloc[1617], spot['track_name'].iloc[1617])

Tisoki Gave You Love
What So Not Beautiful
Zomboy Young & Dangerous - EP Version
LOUDPVCK More Than I Can Take
Two Door Cinema Club Come Back Home
Death From Above 1979 Moonlight

# Similarity Recommender
## Cosine Similarity

In [14]:
# Calculate Distance of TF-IDF Vectors
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Calculate Distance of TF-IDF Vectors
dist_matrix  = cosine_similarity(dtm)

In [ ]:
# Turn it into a DataFrame
cosine_df = pd.DataFrame(dist_matrix)
print(cosine_df.shape)
cosine_df.head()

(16533, 16533)

   0      1      2      3      4      ...  16528  16529  16530  16531  16532
0    1.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1    0.0    1.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2    0.0    0.0    1.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3    0.0    0.0    0.0    1.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4    0.0    0.0    0.0    0.0    1.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 16533 columns]

In [ ]:
# Verify it was added
leng = len(spot)-1
spot.iloc[leng]

genre                                           7
artist_name                                Tchami
track_name          Move Your Body (Future House)
track_id                   5fFEgmLAbNG75zKPn3hXOO
popularity                                     46
acousticness                              0.00424
danceability                                0.818
duration_ms                                219429
energy                                       0.87
instrumentalness                            0.196
key                                             0
liveness                                   0.0429
loudness                                   -5.162
mode                                            0
speechiness                                0.0493
tempo                                     123.999
time_signature                                  0
valence                                     0.741
Name: 25045, dtype: object

In [ ]:
# # Grab the top 5 most similar strains to the custom strain at the start.
last_cosine = len(cosine_df)-1
cosine_results = cosine_df[cosine_df[0] < 1][last_cosine].sort_values(ascending=False)[1:6]
cosine_results =  pd.DataFrame(cosine_results)
cosine_results = cosine_results.reset_index()
cos_results = cosine_results['index'].values.tolist()
cos_results

[4678, 1803, 9873, 9472, 7437]

In [ ]:
# Check results
print('----------------------------')
print('----------------------------')
print(f"Seed song:") 
print(f"{spot.iloc[leng]}")
print('----------------------------')
print('----------------------------')
print('Similar songs:')
print('----------------------------')
for each in cos_results:
  print(spot.iloc[each])

----------------------------
----------------------------
Seed song:
genre                                           7
artist_name                                Tchami
track_name          Move Your Body (Future House)
track_id                   5fFEgmLAbNG75zKPn3hXOO
popularity                                     46
acousticness                              0.00424
danceability                                0.818
duration_ms                                219429
energy                                       0.87
instrumentalness                            0.196
key                                             0
liveness                                   0.0429
loudness                                   -5.162
mode                                            0
speechiness                                0.0493
tempo                                     123.999
time_signature                                  0
valence                                     0.741
Name: 25045, dtype: object
----------------------------
----------------------------
Similar songs:
----------------------------
genre                                    11
artist_name                      José James
track_name          It's All Over Your Body
track_id             34SwQdAVVBhh2EZVW61u6G
popularity                               38
acousticness                          0.173
danceability                           0.72
duration_ms                          329253
energy                                0.241
instrumentalness                      0.418
key                                       4
liveness                              0.078
loudness                            -11.265
mode                                      0
speechiness                            0.19
tempo                                85.029
time_signature                            0
valence                               0.444
Name: 145003, dtype: object
genre                                   18
artist_name                            LSG
track_name                         My Body
track_id            6PyLw3l6ndolBrTPQp3Ibm
popularity                              57
acousticness                         0.244
danceability                         0.721
duration_ms                         247133
energy                               0.431
instrumentalness                         0
key                                      4
liveness                            0.0886
loudness                            -6.633
mode                                     0
speechiness                          0.045
tempo                               119.76
time_signature                           0
valence                              0.318
Name: 146971, dtype: object
genre                                    6
artist_name                 Future Islands
track_name                             Ran
track_id            5GxeKtNdjSVAZTfxSsnXhF
popularity                              57
acousticness                       0.00252
danceability                         0.465
duration_ms                         205587
energy                               0.701
instrumentalness                    0.0447
key                                     10
liveness                            0.0683
loudness                            -6.828
mode                                     1
speechiness                         0.0337
tempo                              144.931
time_signature                           3
valence                               0.38
Name: 18184, dtype: object
genre                                    8
artist_name                          Dawes
track_name            Living In The Future
track_id            08wbZAPUMj2BrzPuvAUBCA
popularity                              43
acousticness                         0.288
danceability                         0.565
duration_ms                         290757
energy                               0.508
instrumentalness                  0.000817
key                                      2
liveness                              0.18
loudness                            -5.671
mode                                     1
speechiness                         0.0306
tempo                              127.496
time_signature                           0
valence                              0.474
Name: 51167, dtype: object
genre                                    1
artist_name                        TobyMac
track_name                    Hello Future
track_id            3F8AU7SP5qqUSwBJD8FErz
popularity                              41
acousticness                        0.0967
danceability                         0.766
duration_ms                         162320
energy                               0.428
instrumentalness                    0.0237
key                                      9
liveness                               0.1
loudness                            -8.653
mode                                     1
speechiness                         0.0485
tempo                               91.013
time_signature                           0
valence                              0.565
Name: 12867, dtype: object